{% extends "base.html" %}
{% block contenido %}
<h3>Nuevo producto</h3>

<form method="POST" class="card p-3 shadow-sm">
    <label>Nombre</label>
    <input name="nombre" class="form-control mb-2">

    <label>Categoría</label>
    <input name="categoria" class="form-control mb-2">

    <label>Precio</label>
    <input name="precio" class="form-control mb-2" type="number" step="0.01">

    <label>Stock</label>
    <input name="stock" class="form-control mb-2" type="number" step="0.01">

    <label>Unidad</label>
    <input name="unidad" class="form-control mb-2">

    <button class="btn btn-success">Guardar</button>
</form>
{% endblock %}
